.wrapper {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.wrapper-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.photo {
    border: 1px solid black;
    border-radius: 50%;
}

.left {
    display: flex;
    gap: 30px;
}

h1,
h2 {
    margin: 0;
    font-size: 22px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

hr {
    width: 740px;
}

p {
    font-size: 14px;
}

.table {
    margin-top: 20px;
    display: flex;
    border: 1px solid green;
    border-radius: 10px;
    justify-content: space-between;
}

.table-colum {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.table-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

ol {
    margin-top: 26px;
}

.table-line {
    display: flex;
    justify-content: center;
    color: green;
    border-bottom: 1px solid green;
    font-weight: bold;
    padding: 3px;
}

.border-left {
    border-right: 1px solid green;
}

.border-right {
    border-left: 1px solid green;
}


.links:hover {
    color: rgb(9, 237, 9);
}

.links {
    outline: none;
    text-decoration: none;
    color: black;
}

.nameplate {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid green;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-weight: bold;
}

.icon {
    height: 127px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.image-lang {
    padding-top: 1px;
    height: 50px;
    width: 50px;
}

.icon-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    height: 97px;
    width: 127px;
    transition: all linear .2s;
}

.icon-element:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(5, 231, 54, 20%);
}

.feedback {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-weight: bold;
}

.about {
    margin-top: 10px;
    display: flex;
}

.about-element {
    display: flex;
    flex-basis: 50%;
    height: 35px;
    font-size: 14px;
}

.mr{
    margin-right: 14px;
}

.input {
    display: flex;
    flex-grow: 1;
    border: 1px solid green;
    border-radius: 5px;
    padding-left: 10px;
}

.QuestionText {
    margin-top: 10px;
    display: flex;
    height: 103px;
}

textarea {
    display: flex;
    flex-grow: 1;
    border: 1px solid green;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    resize: none;
}

.PressMeGently {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 10px;
    background-color: green;
    color: white;
    height: 33px;
    width: 125px;
    font-size: 14px;
    border-radius: 8px;
}